@import '../../App.scss';

.about_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.about_header {
  margin-top: 20rem;
  margin-left: 5rem;
  position: absolute;
  z-index: 1;
}

.about_text_container {
  display: flex;
  flex-flow: column wrap;
  background-color: $color-white;
  background-image: url('../../components/assets/graph-paper.png');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  clip-path: polygon(0 15vh, 100% 0, 100% 75vh, 0 100%);
  align-items: center;
}

.about_content_text {
  display: flex;
  flex-flow: column wrap;
  font-family: proxima-nova, sans-sarif;
  color: $color-black;
  font-size: 4rem;
  font-weight: 700;
  width: 70rem;
  margin-top: 20rem;
}

.portrait_container {
  position: absolute;
  width: 90rem;
  height: 90rem;
  z-index: -1;
  margin-top: 20rem;
}

.emphasis_text {
  color: $color-primary-dark;
}

.background_overflow {
  width: 100vw;
  height: 90vh;
  background-color: #504f50;
  left: 0;
  position: absolute;
  z-index: -1;
  margin-top: 40rem;
}
