@import '../../App.scss';

.about_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  overflow: hidden;
  &_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('https://renewreckingball.s3.us-east-2.amazonaws.com/plain_paper_opt.jpg');
    background-attachment: fixed;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    align-content: center;
    border-top: 5rem solid $color-black;
    border-bottom: 5rem solid $color-primary-dark;
  }
  &_content {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 40vw;
    flex-flow: column-wrap;
    z-index: 2;
    font-size: 2rem;
    font-weight: 500;
    right: 10vw;
    top: 30vh;
  }
  &_header {
    text-align: left;
    top: 20vh;
    z-index: 1;
    h1 {
      color: $color-black;
      font-size: 10rem;
    }
  }

  &_portrait {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    z-index: 0;
    top: 10vh;
    left: 0;
  }
  &_text {
    line-height: 3.5rem;
  }
}

.portrait_image {
  height: 80vh;
  width: 60vw;
}

.emphasis_text {
  color: $color-primary-dark;
  font-weight: 500;
}

.background_overflow {
  width: 100vw;
  height: 90vh;
  background-color: #504f50;
  left: 0;
  position: absolute;
  z-index: -1;
  margin-top: 40rem;
}

@media only screen and (max-width: 600px) {
  .about_text_container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    background-color: $color-white;
    background-image: url('https://renewreckingball.s3.us-east-2.amazonaws.com/graph_paper_plain.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(0 0vh, 100% 0, 100% 100vh, 0 100%);
    align-items: center;
  }

  .about_header {
    margin-top: 10%;
    h1 {
      font-size: 5rem;
    }
  }
  .portrait_container {
    height: 10rem;
    top: 50%;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 2000px) {
  .about_header {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1500px) {
  .about_content_text {
    font-size: 2.5rem;
  }
}
