@import '../../App.scss';

.about_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  &_wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(0 10vh, 100% 0, 100% 85vh, 0 100%);
    position: absolute;
    align-content: center;
  }
  &_header {
    width: 100%;
    text-align: center;
    top: 20vh;
    left: 15vw;
    position: absolute;
    z-index: 1;
    h1 {
      color: $color-black;
    }
  }
  &_body {
    display: flex;
    width: 90vw;
    justify-content: center;
  }
}

.about_content_text {
  display: flex;
  flex-flow: column;
  font-family: proxima-nova, sans-sarif;
  color: $color-black;
  font-size: 2.5rem;
  font-weight: 300;
  width: 40vw;
  height: 30vh;
  margin-top: 0vh;
}

.portrait_container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  z-index: -1;
  top: 10vh;
  left: 0;
}
.portrait_image {
  height: 80vh;
}

.emphasis_text {
  color: $color-primary-dark;
}

.background_overflow {
  width: 100vw;
  height: 90vh;
  background-color: #504f50;
  left: 0;
  position: absolute;
  z-index: -1;
  margin-top: 40rem;
}

@media only screen and (max-width: 600px) {
  .about_text_container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    background-color: $color-white;
    background-image: url('../../components/assets/graph-paper.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    clip-path: polygon(0 0vh, 100% 0, 100% 100vh, 0 100%);
    align-items: center;
  }
  .about_content_text {
    font-size: 1.5rem;

    margin-top: 20%;
    margin-right: 80%;
    width: 50%;
    flex-flow: wrap;
  }
  .about_header {
    margin-top: 10%;
    h1 {
      font-size: 5rem;
    }
  }
  .portrait_container {
    height: 10rem;
    top: 50%;
    margin-left: 50%;
  }
}

@media only screen and (min-width: 2000px) {
  .about_header {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 1500px) {
  .about_content_text {
    font-size: 2.5rem;
  }
}
