@import '../../App.scss';

.contact_container {
  background-color: $color-primary-dark;
  height: 50vh;
  width: 100vw;
  font-family: $font-body;
  padding-top: 10%;
  color: black;
  font-size: 2rem;
  &_wrapper {
    display: flex;
    flex-direction: row;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }
  &_header {
    text-align: center;
  }
  &_body {
    display: flex;
    flex-direction: columns;
    justify-content: space-around;
  }
}
