.contact_container {
  background-color: black;
  height: 50vh;
  width: 100vw;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  &_content {
    font-family: Oswald, sans-serif;
    padding-top: 15rem;
    padding-left: 20rem;
    color: white;
    font-size: 2rem;
  }
}
