@import '../../App.scss';

//variables
$grid-width: 100vw;
$grid-height: 90vh;
$col-width: calc((#{$grid-width}/ 2));
$col-height: calc((#{$grid-width}/ 4));

.skills_grid {
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  max-width: $grid-width;
  margin: 0-auto;

  [class^='col-'] {
    float: left;
  }
}

.gridbox {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $col-width;
  height: 50vh;
  text-align: center;
  overflow: hidden;
  &_background {
    background-color: black;
    opacity: 1;
  }
  &_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: $col-width;
    height: 50vh;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    &_image {
      width: $col-width;
      height: 50vh;
      transform: scale(0.9);
    }
    &_body {
      padding: 5%;
    }
    p {
      color: $color-white;
    }
  }
}
#webdev {
  background-image: url('../assets/webdev.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: 0.5s;
  z-index: 100;
  &:hover {
    opacity: 1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
#design {
  background-color: black;
  background-image: url('https://renewreckingball.s3.us-east-2.amazonaws.com/design_gif_opt.gif');
  opacity: 0.5;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: 0.5s;
  &:hover {
    opacity: 1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 100;
  }
}
#management {
  background-color: black;
  background-image: url('https://renewreckingball.s3.us-east-2.amazonaws.com/project_management.jpg');
  opacity: 0.5;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transition: 0.5s;
  &:hover {
    opacity: 1;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 100;
  }
}
@media only screen and (max-width: 800px) {
  .gridbox_content p {
    font-size: 1.2rem;
  }
}
