//Variables
$color-primary: #fdb713;
$color-primary-dark: #d29229;
$color-secondary-dark: #7e5d0e;
$color-black: #000;
$color-white: #fff;
$color-grey: #575757;
$font-primary: proxima-nova, sans-sarif;
$font-body: gira-sans, sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('https://renewreckingball.s3.us-east-2.amazonaws.com/black_lines_opt_single_color.jpg');
  background-attachment: fixed;
  font-family: $font-body;
}

h1 {
  font-family: $font-primary;
  color: $color-white;
  font-size: 8rem;
  font-weight: 700;
}

h2 {
  font-family: $font-body;
  color: $color-white;
  font-size: 5rem;
  margin-bottom: 2rem;
}
h3 {
  font-family: $font-body;
  color: $color-primary;
  font-size: 3rem;
  margin-bottom: 3rem;
}
p {
  font-family: $font-body;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
//nav

#flyoutMenu {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.7s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 6;
  transition: 0.5s ease-in-out;
}

#flyoutMenu.hide {
  transform: translate3d(-100vw, 0, 0);
}

#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
  h2 {
    animation: slideInFromLeft 1s;
  }
}

#flyoutMenu h2 a {
  font-family: $font-primary;
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-size: 6rem;
  font-weight: 1000;
  text-align: center;
  z-index: 100;
}

#flyoutMenu h2 a:hover {
  text-decoration: none;
  color: $color-primary;
}

#MenuButton {
  width: 15rem;
  height: 15rem;
  z-index: 100;
  right: 2rem;
  top: 2rem;
  background: none;
  border: none;
  position: fixed;
  cursor: pointer;
  transition: 2s ease-in-out;
}

#MenuButton:focus {
  outline: none;
}

#MenuButton:hover {
  animation: Spin 3s;
  transition: 2s ease-in-out;
  .logo_background {
    opacity: 100;
  }
}

.menu_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 30vh;
  flex-direction: column;
  font-family: Proxima-nova, sans-serif;
}

.logo_background {
  opacity: 0.7;
  fill: #d29229;
  transition: 0.3s ease-in-out;
  &:active {
    opacity: 1;
  }
}
.st1 {
  fill: #383938;
}
.st2 {
  fill: #575757;
}
.st3 {
  fill: #918f8f;
}
.st4 {
  fill: #3a3b3a;
}
.st5 {
  fill: #616060;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.loading {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 1%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('https://renewreckingball.s3.us-east-2.amazonaws.com/black_lines_opt_single_color.jpg');

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  &_logo {
    animation: spin 10s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
}
